@import "../../../../../styles/global.scss";

.materialActionsList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .buyingForm {
    min-width: 400px;
    height: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3e1ac;
    background-color: #2e4f5e;

    & .prices {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      & p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .materialActionsList {
    min-width: 95%;
    align-items: center;

    & .buyingForm {
      text-align: center;
      min-width: 100%;
      padding: 20px;
    }
  }
}
