@import "../../../../../styles/global.scss";

.stockMarketElementContainer {

  & .stockMarketContentWrapper {


    & .formContent{ 
      @include stock-market-content;
      align-items: center;
    }

    & .prices {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      & p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .materialActionsList {
    width: 90%;
    height: 70%;
    margin: 40px 0;
    align-items: center;

    & .buyingForm {
      min-height: 100%;
      text-align: center;
      flex-direction: column;
      min-width: 100%;
      padding: 20px;

      & .formComponent {
        margin: 0;
      }
    }
  }
}
