@import "../../../styles/global.scss";

.pageLayoutContainer {
  position: relative;
  width: 100%;
  height: 100%;
  & .windowBorder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    background-color: $color-light-gray;
    line-height: 15px;

    & > * {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 6px;
    }

    & .greenCircle {
      background-color: $color-green;
    }

    & .yellowCircle {
      background-color: $color-golden;
    }

    & .redCircle {
      background-color: $color-red;
    }

    & .title {
      position: absolute;
      left: 1%;
      font-weight: bolder;
      color: $color-delicate-yellow;
    }
  }

  & .leftPanels {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 11;
  }

  & .hamburgerIconWrapper {
    width: 45px;
    height: 45px;
    background: $color-medium-gray;
    border-radius: 50%;
    position: fixed;
    top: 5%;
    right: -100%;
    z-index: 10;
  }
}

@media (max-width: 1200px) {
  .pageLayoutContainer {
    & .hamburgerIconWrapper {
      right: 2%;

      & .hamburgerIcon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        color: $color-delicate-yellow;
      }
    }
  }
}
