@import "../../../styles/global.scss";

.successBoxBackground {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $color-alpha-backdrop;
  overflow: hidden;
  .successBoxContainer {
    position: absolute;
    background-color: $color-grayish-blue;
    color: $color-light-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;
    border: 2px solid $color-light-green;

    & .successBoxTextContainer {
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .successBoxBackground {
    & .successBoxContainer {
      width: 90vw;
    }
  }
}
