@import "../../../styles/global.scss";

.childrenContainer {
  width: 80%;
  height: 80%;
  color: $color-delicate-yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $color-light-grayish-blue;
  border: $basic-border-thickness solid $color-delicate-yellow;
  overflow-y: scroll;

  & > * {
    height: 40%;
    margin: $basic-margin;
  }
}

@media (max-width: 1200px) {
  .childrenContainer {
    width: 100vw;
    height: 100vh;
    border: 0;

    & > * {
      margin: 25px;
    }
  }
}
