@import "../../../../styles/global.scss";

.backdrop {
  position: absolute;
  background-color: $color-alpha-backdrop;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .backdrop {
    width: 100vw;
    height: 100vh;
  }
}
