@import "../../../../styles/global.scss";

.backdrop {
  position: absolute;
  background-color: $color-alpha-backdrop;
  width: calc(100% - 250px);
  height: calc(100% - 20px);
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: $basic-border-thickness solid $color-light-gray;
}

@media (max-width: 1200px) {
  .backdrop {
    width: 100vw;
    height: 100vh;
  }
}
