@import "../../../styles/global.scss";

.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: $basic-border-thickness solid $color-light-gray;
  background-color: $color-dark-gray;
  width: 250px;
  height: 60px;
  & .linkDirection {
    color: $color-delicate-yellow;
  }
}

.navLinkActive .linkBtn {
  background-color: $color-medium-gray;
}

@media (max-width: 1200px) {
  .linkBtn {
    min-width: 100vw;
    height: calc(100vh / 8);
  }
}
