@import "../../../../styles/global.scss";

.dashboardInfoContainer {
  /* Styles for .dashboardInfoContainer in global.scss */
  & .dashboardInfoElement {
    /* Styles for .dashboardInfoElement in global.scss */
    & span:not(.elementQuantity) {
      display: flex;
      justify-content: space-between;
      margin: $basic-margin 0;
    }
  }

  & h2 {
    font-size: $smaller-header-font-size;
  }

  & h3 {
    font-size: $smaller-header-font-size;
  }
}
