@import "../../../../../styles/global.scss";
.singleExpansion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  height: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3e1ac;
  background-color: #2e4f5e;

  & .expansionName {
    font-size: 20px;
  }

  & .descriptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;

    & p {
      margin: 0;
    }
  }
}

@media (max-width: 1200px) {
  .singleExpansion {
    min-width: 95%;
  }
}
