@import "../../../styles/global.scss";

.btn {
  @include buttons;
  background-color: $color-dark-red;
  color: $color-delicate-yellow;

  &:hover {
    background-color: $color-dark-red-hover;
  }
}
