@import "../../../styles/global.scss";

.btn {
  height: 30px;
  min-width: 100px;
  background-color: rgb(112, 17, 33);
  color: #f3e1ac;
  border: 0;
  border-radius: 10px;
  font-family: $main-font;
  transition: 0.3s linear;
  cursor: pointer;

  &:hover {
    background-color: rgb(182, 17, 33);
  }
}
