@media (max-width: 1200px) {
  .dashboardInfoContainer {
    min-width: 90%;
    min-height: 100%;
    margin-bottom: 40px;
  }

  .storeElement {
    min-width: 95%;
  }

  .stockMarketContentWrapper {
    min-width: 95%;
  }

  .alertBoxBackground {
    & .alertBoxContainer {
      width: 90vw;
    }
  }
}
