@import "./settings.scss";

@mixin shop-panels($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $width;
  height: $height;
  margin: $basic-margin;
  border: $basic-border-thickness solid $color-delicate-yellow;
  background-color: $color-grayish-blue;
}

@mixin buttons($bg-color, $font-color: black) {
  height: 30px;
  min-width: 100px;
  border: 0;
  background-color: $bg-color;
  color: $font-color;
  border-radius: $basic-radius;
  font-family: $main-font;
  transition: 0.3s linear;
  cursor: pointer;
}

@mixin alert-boxes-container($accents-color) {
  position: absolute;
  background-color: $color-grayish-blue;
  color: $accents-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 300px;
  border: $basic-border-thickness solid $accents-color;

  @media (max-width: 1200px) {
    width: 95%;
  }
}
