@import "../../../../styles/global.scss";

.dashboardInfoContainer {

  & .dashboardInfoElement {

    & span:not(.materialNumber) {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }
  }

  & h2 {
    font-size: 20px;
  }

  & h3 {
    font-size: 20px;
  }
}
