@import "../../../styles/global.scss";

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 250px);
  height: 100%;
  border-left: $basic-border-thickness solid $color-light-gray;
}

@media (max-width: 1200px) {
  .gameContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
