@import "../../../styles/global.scss";

.machine {
  position: absolute;
  bottom: 30%;
  left: 20%;
  width: 165px;
  height: 110px;
  background: transparent;
  border: none;
  border-radius: 30px;
}

.equipmentBar {
  position: absolute;
  top: 12%;
  left: 12%;
}
