@import "../../../styles/global.scss";

.machine {
  position: absolute;
  width: 100px;
  height: 50px;
  background: transparent;
  border: none;
  border-radius: 30px;
}

.equipmentBar {
  position: absolute;
  top: 12%;
  left: 12%;
}
