$button-font-size: 18px;
$button-width: 180px;
$button-heigth: 40px;
$button-line-heigth: 40px;
$button-radius: 20px;
$button-margin: 5px;

$blue-lighter: #218dfa;
$blue-darker: #3742fa;
$color-blue: #3742fa;
$color-white-text: #dfe4ea;
$color-dark-gray: #2f3542;
$color-light-gray: #a4b0be;
$color-grayish-blue: #70a1ff;

$basic-maring: 10px;
$basic-radius: 25px;

$main-font: "Delius", cursive;
