$klee-one-font: 'Klee One', cursive;
$button-text-color: #dfe4ea;
$color-blue: #3742fa;
$button-font-size: 18px;
$button-width: 180px;
$button-heigth: 40px;
$button-line-heigth: 40px;
$button-margin: 5px;

$button-lighter: #218dfa;
$button-darker: #3742fa;
$button-radius: 20px;