@import "../../../../../styles/global.scss";

.employeesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  & .singleEmployee {
    width: 60%;
    height: 90%;
    padding: 20px 0;
    margin: 10px 0;
    background-color: #2e4f5e;
    border: 1px solid #f3e1ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .employeeInfo {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .employeeName {
        font-size: 1.5em;
        text-align: center;
      }

      & .infoElement {
        display: flex;
        justify-content: space-between;
      }

      & .employeePhoto {
        width: 70px;
        height: 70px;
        align-self: center;
        border-radius: 50%;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    & .hireBtn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 1200px) {
  .employeesContainer {
    & .singleEmployee {
      width: 90%;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1366px) {
  .employeesContainer {
    height: 100vh;
    & .singleEmployee {
      & .employeeInfo {
        width: 70%;
      }
    }
  }
}
