@import '../../../styles/global.scss';

.panelCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: blanchedalmond;
    border: 5px $blue-darker solid;
    border-radius: $basic-radius;
}


.closeBtn {
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
    color: $color-white-text;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: $blue-darker;
    transition: .2s linear;
}

.closeBtn:hover {
    color: $color-dark-gray;
    transform: rotate(360deg);
}

.parametersForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    & p {
        margin: 0;
    }

    & input {
        margin-bottom: 20px;
    }
}