@import '../../../styles/global.scss';

.component {
    width: $button-width;
}

.linkText {
    color: $button-text-color;
    font-size: $button-font-size;
    text-decoration: none;
    font-weight: 600;
}

.linkDirection {
    margin-left: 10px;
    transition: .3s linear;
}


.linkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: $button-width;
    height: $button-heigth;
    background-image: linear-gradient($button-lighter, $button-darker);
    border-radius: $button-radius;
    border: 2px solid black;
    margin: $button-margin;
    transition: .5s linear;
}

.linkBtn:active {
    background-image: linear-gradient($button-lighter, #70a1ff);
}

.linkBtn:hover .linkDirection {
    margin-left: 20px;
}
