@import "../../../styles/global.scss";

.mainNavBar {
  height: 100vh;
  background-color: $color-dark-gray;
}

.resetBtnContainer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
