@import "../../../../styles/global.scss";

.dashboardInfoContainer {
  /* Styles for .dashboardInfoContainer in global.scss */
  & .dashboardInfoElement {
    /* Styles for .dashboardInfoElement in global.scss */
    & .singleElement {
      /* Styles for .singleElement in global.scss*/

      & .machineStateInfo {
        min-width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & .workIndicator {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: $color-red;
        }
      }
    }
  }
}
