@import "../../../styles/global.scss";

.profilePanel {
  padding: $basic-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-dark-gray;
  border-bottom: $basic-border-thickness solid $color-light-gray;
  width: 250px;
  height: 20%;
  color: $color-delicate-yellow;

  & .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: $basic-border-thickness solid $color-light-gray;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  & .playerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .experience {
      cursor: pointer;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-dark-gray;
      border-radius: $basic-radius;

      & .experienceAmount {
        display: none;
      }

      &:hover .experienceAmount {
        display: block;
      }

      &:hover .levelInfo {
        display: none;
      }
    }
  }

  & .closeBtn {
    display: none;
  }
}

@media (max-width: 1200px) {
  .profilePanel {
    width: 100vw;

    & .closeBtn {
      display: block;
      position: absolute;
      top: 0;
      right: 2%;
      font-size: 32px;
    }
  }
}
