@import "../../../styles/global.scss";

.outerWindow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: calc(100% - 250px);
  height: calc(100% - 20px);
  border-left: $basic-border-thickness solid $color-light-gray;
  background-color: $color-dark-gray;
}

@media (max-width: 1200px) {
  .outerWindow {
    width: 100vw;
    height: 100vh;
  }
}
