@import "../../../styles/global.scss";

.outerWindow {
  position: relative;
  width: calc(100% - 250px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: $basic-border-thickness solid $color-light-gray;
}

@media (max-width: 1200px) {
  .outerWindow {
    width: 100%;
    height: 100%;
  }
}
